services:
  - type: web
    name: payment-gateway-raaz
    env: node
    plan: free
    region: singapore
    buildCommand: "npm install"
    startCommand: "node server.js"
    healthCheckPath: /health
    autoDeploy: true
    envVars:
      - key: PORT
        value: 3001
      - key: NODE_ENV
        value: production
      - key: FIREBASE_PRIVATE_KEY
        sync: false
      - key: RAZORPAY_KEY_ID
        sync: false
      - key: RAZORPAY_KEY_SECRET
        sync: false